* {

  
}
body {
  /* font-family: sans-serif; */
  /* system font stack */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-left: 5%;
  color: rgb(22, 21, 19);
  background-color: rgb(240, 238, 233);
}

h1,
h2,
h3,
h4,
h5 {
  margin: .2em;
  margin-left: 0;
  margin-top: 1em;
  opacity: .8;
}
h1 {
  margin-top: .2em;
}

blockquote, dt, li, p {
  max-width: 55ch;
}
blockquote {
  font-size: 1.1em;
  padding: 0;
  margin: 1em 0 .5em 0;
  padding-left: .5em;
  border-left: solid rgb(219, 216, 209) 1em;
}
blockquote>p {
  padding: 0;
  margin: 0;
}

* pre {width:90vw;}

pre {
  /* word wrap */
  white-space: pre-wrap;
  /* CSS @ 2.1+ */
  white-space: -moz-pre-wrap;
  /* Mozilla @ 1999+ */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE 5.5+ */
}

/*  anchors  */
a {
  cursor: default;
  text-decoration: none;
  color: var(--theme-color-1);
  background: transparent;
  /* padding: 0 0.3rem 0 0.2rem; */
}

a:hover {
  color: white;
  background: var(--theme-color-1);
}

a:active {
  color: white;
  background: #333;
}

p a:link {
  cursor: default;
  text-decoration: none;
  color: var(--theme-color-1);
  background: transparent;
  padding: 0;
}

p a:visited {
  color: var(--theme-color-1);
  background: #ccc;
}

p a:hover {
  color: var(--theme-color-1);
  background: transparent;
  border-bottom: 3px solid var(--theme-color-1);
}

p a:active {
  color: white;
  background: var(--theme-color-1);
  /* border-bottom:none; */
}

p:nth-of-type(2n) img {
	width: 20%;
	float:right; 
	clear:right;
	margin: .3em 0 .1em 1em;
}
p:nth-of-type(2n+1) img {
	width: 20%;
	float: left;
	clear: left;
	margin: .3em 1em .1em 0;
}

.flex-container {
    display: flex;
  }
  
  .flex-container>div {
    margin: 1vw;
    padding: 2vw;
  }